ul
{
	list-style: none;
}

/*~~~~~~~~~
Header CSS
~~~~~~~~~~*/

#logo
{
	margin: 0 auto;
  	padding: 5px 0 0 0;
 	width: 100%;
 	text-align: center;
}

/*Header naviation*/
header nav 
{
	list-style: none;
	max-width: 100%;
	margin: 0 auto;
}
header nav ul
{
	text-align: center;
	margin:2.5%;
}
.fadeNav
{
	display:inline-block; /*Make it such that images are in line*/
	margin:0 2.5%;
	position: relative;
}


/*~~~~~~~~~
Header CSS
~~~~~~~~~~*/
